.section {
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.section-left {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 20px;
}
.text{
    font-size: large;
    text-align: center;

}
.hobbies-work {
    display: flex;
    width: 90%;
    margin: 0 auto;
    clear: both;
}
.hobby-column,
.work-column {
    width: 50%;
    padding: 0 20px;
    margin-top: 40px;
    box-sizing: border-box;
    text-align: center;
}

.hobby-column {
    border-right: 1px solid black;
}

.work-column h3 {
    text-align: center;
}

.spacer {
    height: 80px;

}
.bottempics{
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}    
